<div class="container">
	<button>
		<a href="/admin/candidatura/c">Crear</a>
	</button>

	<h1>Lista de candidaturas</h1>

	<select onchange="getCandidaturas()" id="idEleccion">
		<option th:each="e:${elecciones}" th:text="${e.fecha}" th:value="${e.id}" name="idEleccion" />
	</select> 
	
	<script>
	
		var xmlhttp;
		
		function accionAJAX() {
			alert(xmlhttp.responseText);
		}
		
		function getCandidaturas() {
		
			xmlhttp = new XMLHttpRequest();
			xmlhttp.open("GET","/rest/admin/candidaturas/" + document.getElementById('idEleccion').value , true);
			xmlhttp.send();
			xmlhttp.onreadystatechange=function() {
				if (xmlhttp.readyState==4 && xmlhttp.status==200) {
					accionAJAX();			
				}
			}
		}
	</script>

</div>